canvas {
    width: 100%;
    height: 100%;
    /* background-color: #16161D; */
}

#canvasRenderer, canvas {
    height: 100% !important;
    position: absolute;
    width: 100%;
    cursor: crosshair;

}

.content {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}

* {
    transition-duration: 1s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left {
    position: fixed;
    height: 100% !important;
}

.right {
    position: absolute;
    right: 0;
}

.dot {
    width: 15px;
    height: 15px;
    transition-duration: 1s;
    border: 1px solid;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 0;
    width: 100%;
    background-color: #16161D;
    color: white;
    left: 0;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    max-height: 60px;
}

footer img {
    width: 50px;
    height: 50px;
    /* display: inline-block; */
    /* background-color : red; */
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}